.firstsection-header {
  width: 100%;
  height: 10vh;
  /* border: 2px solid red; */
  display: flex;
  /*  */
  align-items: center;
  justify-content: center;
  background-color: rgba(233, 216, 206, 1);

  align-items: flex-start;
  flex-shrink: 1;
}
.firstsection-main {
  width: 90%;
  height: 100%;
  display: flex;
  /*  */
  align-items: center;
  justify-content: space-between;
  flex-shrink: 1;
}
.firstsection-logoname {
  /* top: 0px;
    left: 550px; */
  width: auto;
  height: 44px;
  display: flex;
  /*  */
  align-items: flex-start;
  flex-shrink: 1;
}
.firstsection-text06 {
  color: rgba(0, 0, 0, 1);
  width: 147px;
  height: auto;
  /*  */
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Bastiken;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.firstsection-navigation {
  width: auto;
  height: 19px;
  display: flex;
  gap: 10px;
  align-items: flex-start;
  flex-shrink: 1;
}
.firstsection-text08 {
  color: rgba(0, 0, 0, 1);
  height: auto;

  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Lora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.firstsection-text10 {
  left: 186px;
  color: rgba(0, 0, 0, 1);
  height: auto;

  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Lora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.firstsection-text12 {
  left: 82px;
  color: rgba(0, 0, 0, 1);
  height: auto;

  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Lora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.firstsection-text14 {
  left: 298px;
  color: rgba(0, 0, 0, 1);
  height: auto;

  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Lora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.firstsection-navigationsecondsection {
  top: 17px;
  left: 981px;
  width: 219px;
  height: 23px;
  display: flex;

  align-items: flex-start;
  flex-shrink: 1;
}
.firstsection-group1 {
  top: 0px;
  left: 0px;
  width: 132px;
  height: 22.92586326599121px;
  display: flex;

  align-items: flex-start;
  flex-shrink: 1;
}
.firstsection-searchicon {
  top: 1.230147361755371px;
  left: 0px;
  width: 21px;
  height: 21.46196937561035px;
  display: flex;

  align-items: flex-start;
  flex-shrink: 1;
}
.firstsection-vector {
  top: 0px;
  left: 0px;
  width: 21px;
  height: 21px;
}
.firstsection-line2 {
  top: 0px;
  left: 38px;
  width: 23px;
  height: 1px;
}
.firstsection-basketicon {
  top: 1.230147361755371px;
  left: 55px;
  width: 23px;
  height: 21.474443435668945px;
  display: flex;

  align-items: flex-start;
  flex-shrink: 1;
}
.firstsection-vector1 {
  top: 0px;
  left: 0px;
  width: 23px;
  height: 21px;
}
.firstsection-line3 {
  top: 0px;
  left: 95px;
  width: 23px;
  height: 1px;
}
.firstsection-singicon {
  top: 1.230147361755371px;
  left: 112px;
  width: 20px;
  height: 20.946083068847656px;
  display: flex;

  align-items: flex-start;
  flex-shrink: 1;
}
.firstsection-vector2 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 21px;
}
.firstsection-text16 {
  top: 4px;
  left: 164px;
  color: rgba(0, 0, 0, 1);
  height: auto;

  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Lora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

/* * {
    margin: 0;
    padding: 0;
    color: #f2f5f7;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
  } */
/* body {
    overflow-x: hidden;
  } */
